.fl-card img {
  max-width: 300px;
  height: auto;
}

/* mobile */
@media screen and (max-width: 650px) {
  .fl-card img {
    max-width: 100%;
  }
}

form svg {
  position: absolute;
  background-color: #2c2c2c;
  margin-top: 6px;
  margin-left: -5px;
  border-radius: 3px;
  padding: 5px
}